@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-neon-green: var(--neon-green);
  --color-cyber-purple: var(--cyber-purple);
  --font-mono: var(--font-jetbrains-mono);

  --animate-typing: typing 3.5s steps(40, end);
  --animate-blink: blink 1s step-end infinite;

  @keyframes typing {
    from {
      width: 0
    }

    to {
      width: 100%
    }
  }

  @keyframes blink {

    0%,
    100% {
      border-color: transparent;
    }

    50% {
      border-color: var(--neon-green);
    }
  }
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --neon-green: #00ff41;
  --cyber-purple: #bd00ff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jetbrains-mono);
  overflow-x: hidden;
}